* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.custom-container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  position: fixed;
  top: 0;
  z-index: 11111;
  width: 100%;
}

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 7px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.dropdown-toggle::after {
  display: none;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 5px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: fixed;
}
.start-header.scroll-on .navbar-brand img {
  width: 75%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.top-nav-strip {
  background-color: #002957;
  padding: 6px 0;
}
.top-nav-strip .gdca-logo {
  width: 7%;
  margin-right: 15px;
}
.top-nav-strip .mpca-logo {
  width: 45%;
}

.navigation-wrap {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #0c4c93;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  width: 175px;
}
.navbar-brand img {
  width: 90%;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}
.navbar-toggler:active {
  outline: none;
}
.navbar-toggler:focus {
  outline: none;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 6px 10px;
  color: #002957;
  border-radius: 2px;
  transition: all 200ms linear;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #ff6c00;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
  top: 8px;
}
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  border-color: transparent;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.nav-link {
  color: #fff !important;
  font-weight: 600;
  transition: all 200ms linear;
  position: relative;
  padding: 7px 0 !important;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}
.nav-item:hover .nav-link {
  color: #ff6c00 !important;
}
.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}
.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #ff6c00;
  opacity: 0;
  transition: all 200ms linear;
}

.nav-item.active .nav-link {
  color: #ff6c00 !important;
}
.nav-item.active:after {
  opacity: 1;
  bottom: 0;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.social-media span {
  color: #fff;
  font-family: "Lato", sans-serif;
  display: block;
  margin-right: 10px;
}
.social-media ul {
  margin: 0;
  padding: 0;
}
.social-media ul li {
  float: left;
  width: 37px;
  height: 37px;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 0;
}
.social-media ul li:nth-last-child(1) {
  margin-right: 0;
}
.social-media ul li a {
  color: #002957;
  margin-bottom: 0;
  font-size: 17px;
}

#owlHero.owl-carousel {
  display: block;
  width: 100%;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}
#owlHero.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  height: 100%;
}
#owlHero.owl-carousel .owl-stage-outer {
  height: 100%;
}
#owlHero.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  height: 100%;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  background-position: center;
}
#owlHero.owl-carousel .owl-lazy {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 150%;
}
#owlHero.owl-carousel .home-banner-content {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  flex-direction: column;
}
#owlHero.owl-carousel .home-banner-content h1 {
  color: #ff6c00;
  font-size: 90px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
#owlHero.owl-carousel .home-banner-content p {
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 35px;
}
#owlHero.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}
#owlHero.owl-carousel .owl-nav .owl-prev {
  left: 15%;
  bottom: -45px;
  background: url("../svg/arrow-right-s-line.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  color: transparent;
  background-size: cover;
}
#owlHero.owl-carousel .owl-nav .owl-next {
  right: 15%;
  bottom: -45px;
  background: url("../svg/arrow-right-s-line.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  color: transparent;
  background-size: cover;
  transform: rotate(180deg);
}

@media (min-height: 700px) {
  #owlHero.owl-carousel .owl-lazy {
    height: 100%;
    padding: 0;
  }
}
/******************About Us Css*****************/
.about-us-section {
  width: 100%;
  padding: 4% 0;
}
.about-us-section:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: url("../img/background-patches/patch1.png");
  width: 15%;
  height: 45%;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us-section:after {
  position: absolute;
  content: "";
  right: 0;
  top: -15px;
  background: url("../img/background-patches/patch1.png");
  width: 15%;
  height: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}
.about-us-section .about-us-content {
  padding-right: 12%;
}
.about-us-section .about-us-content h1 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: #ff6c00;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.about-us-section .about-us-content p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #002957;
  line-height: 30px;
  font-weight: 500;
}
.about-us-section .about-us-content button {
  color: #fff;
  font-size: 15px;
  padding: 7px 15px;
  font-family: "Lato", sans-serif;
  background: linear-gradient(0deg, rgb(3, 49, 160) 0%, rgb(8, 34, 110) 100%);
  border-radius: 50px;
  font-weight: 600;
  border: none;
  outline: none;
  transition: all 0.5s;
}
.about-us-section .about-us-content button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.about-us-section .about-us-content button:hover {
  background: linear-gradient(0deg, rgb(8, 34, 110) 0%, rgb(3, 49, 158) 100%);
  transition: all 0.5s;
}

/******************Governing Council Css*****************/
.governing-council {
  width: 100%;
  padding: 4% 0;
  background-color: #d8e0eb;
}
.governing-council h1 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: #ff6c00;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.governing-council #governing-council-carousel .item {
  background-color: #002957;
  border-radius: 30px;
  cursor: pointer;
}
.governing-council #governing-council-carousel .item .img-div {
  overflow: hidden;
  border-radius: 30px;
}
.governing-council #governing-council-carousel .item .img-div img {
  display: block;
  width: 100%;
  border-radius: 30px;
  transition: all 0.5s;
}
.governing-council #governing-council-carousel .item:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}
.governing-council #governing-council-carousel .item-details {
  text-align: center;
  padding: 22px;
}
.governing-council #governing-council-carousel .item-details h2 {
  color: #ff6c00;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.governing-council #governing-council-carousel .item-details span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.governing-council #governing-council-carousel .owl-dots {
  width: 100%;
  display: block;
  text-align: center;
}
.governing-council #governing-council-carousel .owl-dots .owl-dot {
  display: inline-block;
  background: none repeat scroll 0 0 #fff;
  border-radius: 20px;
  height: 15px;
  margin: 5px;
  width: 15px;
  margin-top: 55px;
  margin-bottom: 0;
}
.governing-council #governing-council-carousel .owl-dots .owl-dot.active {
  background-color: #ff6c00;
}
.governing-council #governing-council-carousel .owl-dots .owl-dot:hover {
  background-color: #ff6c00;
}

/******************Home Team Section Css*****************/
.home-team-section {
  width: 100%;
  padding: 4% 0;
}
.home-team-section h1 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: #ff6c00;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.home-team-section #home-team-carousel .team-logo-img img {
  width: 55%;
}

/******************Footer Css*****************/
footer {
  padding: 4% 0;
  background-color: #002957;
}
footer h3 {
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  font-size: 13px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  display: block;
  color: #fff;
}
footer ul li a:hover {
  color: #ff6c00;
}
footer ul li:nth-last-child(1) {
  margin-bottom: 0;
}
footer p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #002957;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
}

.copyright-strip {
  width: 100%;
  padding: 10px 0;
  background-color: #000;
}
.copyright-strip .copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}
.copyright-strip .copyright a {
  color: #fff;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
