* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.main-navigation {
  position: fixed;
  top: 0;
  z-index: 11111;
  width: 100%;
}

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 7px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.dropdown-toggle::after {
  display: none;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 5px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: fixed;
}
.start-header.scroll-on .navbar-brand img {
  width: 75%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.top-nav-strip {
  background-color: #002957;
  padding: 6px 0;
}
.top-nav-strip .gdca-logo {
  width: 7%;
  margin-right: 15px;
}
@media (max-width: 1366px) {
  .top-nav-strip .gdca-logo {
    width: 6%;
  }
}
.top-nav-strip .mpca-logo {
  width: 45%;
}
@media (max-width: 1366px) {
  .top-nav-strip .mpca-logo {
    width: 42%;
  }
}
@media (max-width: 768px) {
  .top-nav-strip {
    display: none !important;
  }
}

.navigation-wrap {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #0c4c93;
}
@media (max-width: 500px) {
  .navigation-wrap {
    border-bottom: 1px solid rgba(255, 255, 255, 0.568627451);
  }
}

.navbar {
  padding: 0;
}

@media (max-width: 500px) {
  .navbar-nav {
    padding-bottom: 0 !important;
  }
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  width: 175px;
}
@media (max-width: 768px) {
  .navbar-brand {
    width: 110px;
  }
}
.navbar-brand img {
  width: 90%;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (max-width: 1366px) {
  .navbar-brand img {
    width: 82%;
  }
}
@media (max-width: 768px) {
  .navbar-brand img {
    width: 100%;
  }
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}
.navbar-toggler:active {
  outline: none;
}
.navbar-toggler:focus {
  outline: none;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 0.5s;
  margin: 0;
}
@media (max-width: 500px) {
  .nav-item .dropdown-menu {
    margin: -10px;
  }
}

.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
  transition: all 0.5s;
}
@media (max-width: 500px) {
  .nav-item.show .dropdown-menu {
    margin: 0px;
  }
}

.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}
@media (max-width: 500px) {
  .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.2901960784);
    box-shadow: none;
  }
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 6px 10px;
  color: #002957;
  border-radius: 2px;
  transition: all 200ms linear;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.dropdown-item:nth-last-child(1) {
  border-bottom: none;
}
@media (max-width: 500px) {
  .dropdown-item {
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 14px;
  }
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #ff6c00;
}

.navbar-light .navbar-toggler-icon {
  width: 28px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after {
  width: 28px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
  top: 8px;
}
.navbar-light .navbar-toggler-icon:before {
  width: 28px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  border-color: transparent;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.nav-link {
  color: #fff !important;
  font-weight: 600;
  transition: all 200ms linear;
  position: relative;
  padding: 7px 0 !important;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
@media (max-width: 1366px) {
  .nav-link {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .nav-link {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .nav-link {
    font-size: 14px;
    font-weight: 500;
    padding: 9px 0 !important;
  }
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}
@media (max-width: 500px) {
  .nav-item {
    padding-left: 0px !important;
  }
}
.nav-item:hover .nav-link {
  color: #ff6c00 !important;
}
.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}
.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #ff6c00;
  opacity: 0;
  transition: all 200ms linear;
}
@media (max-width: 500px) {
  .nav-item:after {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.568627451);
    opacity: 1;
    bottom: 0;
  }
}
.nav-item:nth-last-child(1):after {
  display: none;
}

.nav-item.active .nav-link {
  color: #ff6c00 !important;
}
.nav-item.active:after {
  opacity: 1;
  bottom: 0;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.social-media span {
  color: #fff;
  font-family: "Lato", sans-serif;
  display: block;
  margin-right: 10px;
}
.social-media ul {
  margin: 0;
  padding: 0;
}
.social-media ul li {
  float: left;
  width: 37px;
  height: 37px;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 0;
}
.social-media ul li:nth-last-child(1) {
  margin-right: 0;
}
.social-media ul li a {
  color: #002957;
  margin-bottom: 0;
  font-size: 17px;
}
@media (max-width: 1366px) {
  .social-media ul li {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 1101px) {
  .social-media ul li {
    width: 30px;
    height: 30px;
  }
}

#owlHero.owl-carousel {
  display: block;
  width: 100%;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}
#owlHero.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  height: 100%;
}
#owlHero.owl-carousel .owl-stage-outer {
  height: 100%;
}
#owlHero.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  height: 100%;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  background-position: center;
}
#owlHero.owl-carousel .owl-lazy {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 100%;
}
#owlHero.owl-carousel .home-banner-content {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  flex-direction: column;
}
#owlHero.owl-carousel .home-banner-content h1 {
  color: #fff;
  font-size: 65px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 1600px) {
  #owlHero.owl-carousel .home-banner-content h1 {
    font-size: 70px;
  }
}
@media (max-width: 1366px) {
  #owlHero.owl-carousel .home-banner-content h1 {
    font-size: 55px;
  }
}
@media (max-width: 500px) {
  #owlHero.owl-carousel .home-banner-content h1 {
    font-size: 32px;
  }
}
#owlHero.owl-carousel .home-banner-content p {
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 35px;
}
@media (max-width: 1366px) {
  #owlHero.owl-carousel .home-banner-content p {
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  #owlHero.owl-carousel .home-banner-content p {
    font-size: 18px;
  }
}
#owlHero.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}
@media (max-width: 500px) {
  #owlHero.owl-carousel .owl-nav {
    display: none;
  }
}
#owlHero.owl-carousel .owl-nav .owl-prev {
  left: 15%;
  bottom: -45px;
  background: url("../svg/arrow-right-s-line.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  color: transparent;
  background-size: cover;
}
#owlHero.owl-carousel .owl-nav .owl-next {
  right: 15%;
  bottom: -45px;
  background: url("../svg/arrow-right-s-line.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  color: transparent;
  background-size: cover;
  transform: rotate(180deg);
}

#eapps-instagram-feed-1 {
  width: 100% !important;
}

/******************About Us Css*****************/
.custom-container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .custom-container {
    max-width: 1100px;
  }
}
@media (max-width: 1101px) {
  .custom-container {
    max-width: 950px;
  }
}
@media (max-width: 991px) {
  .custom-container {
    max-width: 900px;
  }
}
@media (max-width: 768px) {
  .custom-container {
    max-width: 700px;
  }
}
@media (max-width: 500px) {
  .custom-container {
    max-width: 370px;
  }
}
@media (max-width: 380px) {
  .custom-container {
    max-width: 325px;
  }
}

.about-us-section {
  width: 100%;
  padding: 4% 0;
}
@media (max-width: 500px) {
  .about-us-section {
    padding: 7% 0;
  }
}
.about-us-section:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: url("../img/background-patches/patch1.png");
  width: 15%;
  height: 45%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .about-us-section:before {
    bottom: -55px;
    z-index: -1;
  }
}
@media (max-width: 500px) {
  .about-us-section:before {
    display: none;
  }
}
.about-us-section:after {
  position: absolute;
  content: "";
  right: 0;
  top: -15px;
  background: url("../img/background-patches/patch1.png");
  width: 15%;
  height: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}
@media (max-width: 1024px) {
  .about-us-section:after {
    z-index: -1;
    top: -55px;
  }
}
@media (max-width: 500px) {
  .about-us-section:after {
    display: none;
  }
}
.about-us-section .about-us-content {
  padding-right: 12%;
}
@media (max-width: 500px) {
  .about-us-section .about-us-content {
    padding-right: 0;
  }
}
.about-us-section .about-us-content h1 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: #ff6c00;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
@media (max-width: 1366px) {
  .about-us-section .about-us-content h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .about-us-section .about-us-content h1 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .about-us-section .about-us-content h1 {
    font-size: 26px;
  }
}
.about-us-section .about-us-content p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #002957;
  line-height: 30px;
  font-weight: 500;
}
@media (max-width: 1366px) {
  .about-us-section .about-us-content p {
    font-size: 15px;
  }
}
@media (max-width: 1101px) {
  .about-us-section .about-us-content p {
    font-size: 14px;
  }
}
.about-us-section .about-us-content button {
  font-size: 15px;
  padding: 7px 15px;
  font-family: "Lato", sans-serif;
  background: linear-gradient(0deg, rgb(3, 49, 160) 0%, rgb(8, 34, 110) 100%);
  border-radius: 50px;
  font-weight: 600;
  border: none;
  outline: none;
  transition: all 0.5s;
}
.about-us-section .about-us-content button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.about-us-section .about-us-content button:hover {
  background: linear-gradient(0deg, rgb(8, 34, 110) 0%, rgb(3, 49, 158) 100%);
  transition: all 0.5s;
}
.about-us-section .about-us-content button a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 1366px) {
  .about-us-section .about-us-content button {
    font-size: 14px;
  }
}
@media (max-width: 460px) {
  .about-us-section .about-us-content button {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .about-us-section .about-us-content {
    padding-right: 0;
  }
}

.about-mpc {
  width: 100%;
  overflow: hidden;
  padding: 4% 0;
}
@media (max-width: 500px) {
  .about-mpc {
    padding: 7% 0;
  }
}
.about-mpc h1 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: #ff6c00;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
@media (max-width: 1366px) {
  .about-mpc h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .about-mpc h1 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .about-mpc h1 {
    font-size: 26px;
  }
}
.about-mpc ul li {
  text-align: left;
  font-size: 17px;
  font-weight: 500;
  color: #002957;
  list-style: disc;
  margin-left: 15px;
  margin-bottom: 15px;
  line-height: 30px;
}
@media (max-width: 500px) {
  .about-mpc ul li {
    font-size: 15px;
    margin-bottom: 5px;
  }
}
.about-mpc .about-mpc-right {
  width: 35%;
  height: 100%;
  position: absolute;
  right: -130px;
  top: 0;
  transform: skewX(30deg);
  background-image: url("../img/background-patches/patch3.png");
}

/******************Governing Council Css*****************/
.governing-council {
  width: 100%;
  padding: 4% 0;
  background-color: #d8e0eb;
}
@media (max-width: 500px) {
  .governing-council {
    padding: 7% 0;
  }
}
.governing-council h1 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: #ff6c00;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
@media (max-width: 1366px) {
  .governing-council h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .governing-council h1 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .governing-council h1 {
    font-size: 26px;
  }
}
.governing-council #governing-council-carousel .item {
  background-color: #002957;
  border-radius: 35px;
  cursor: pointer;
}
.governing-council #governing-council-carousel .item .img-div {
  overflow: hidden;
  border-radius: 30px;
}
.governing-council #governing-council-carousel .item .img-div img {
  display: block;
  width: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}
.governing-council #governing-council-carousel .item:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}
.governing-council #governing-council-carousel .item-details {
  text-align: center;
  padding: 22px;
}
@media (max-width: 1600px) {
  .governing-council #governing-council-carousel .item-details {
    padding: 15px;
  }
}
@media (max-width: 1366px) {
  .governing-council #governing-council-carousel .item-details {
    padding: 13px;
  }
}
.governing-council #governing-council-carousel .item-details h2 {
  color: #ff6c00;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
@media (max-width: 1366px) {
  .governing-council #governing-council-carousel .item-details h2 {
    font-size: 18px;
  }
}
.governing-council #governing-council-carousel .item-details span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 1366px) {
  .governing-council #governing-council-carousel .item-details span {
    font-size: 15px;
  }
}
.governing-council #governing-council-carousel .owl-dots {
  width: 100%;
  display: block;
  text-align: center;
}
.governing-council #governing-council-carousel .owl-dots .owl-dot {
  display: inline-block;
  background: none repeat scroll 0 0 #fff;
  border-radius: 20px;
  height: 15px;
  margin: 5px;
  width: 15px;
  margin-top: 55px;
  margin-bottom: 0;
}
.governing-council #governing-council-carousel .owl-dots .owl-dot.active {
  background-color: #ff6c00;
}
.governing-council #governing-council-carousel .owl-dots .owl-dot:hover {
  background-color: #ff6c00;
}

/******************Home Team Section Css*****************/
.home-team-section {
  width: 100%;
  padding: 4% 0;
}
@media (max-width: 500px) {
  .home-team-section {
    padding: 7% 0;
  }
}
.home-team-section h1 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: #ff6c00;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
@media (max-width: 1366px) {
  .home-team-section h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .home-team-section h1 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .home-team-section h1 {
    font-size: 26px;
  }
}
.home-team-section #home-team-carousel .team-logo-img:hover img {
  transform: scale(0.9);
  filter: grayscale(1);
  transition: all 0.5s;
}
.home-team-section #home-team-carousel .team-logo-img img {
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(1);
}
.home-team-section #home-team-carousel .owl-dots {
  width: 100%;
  display: block;
  text-align: center;
}
.home-team-section #home-team-carousel .owl-dots .owl-dot {
  display: inline-block;
  background: none repeat scroll 0 0 #002957;
  border-radius: 20px;
  height: 15px;
  margin: 5px;
  width: 15px;
  margin-top: 55px;
  margin-bottom: 0;
}
@media (max-width: 1440px) {
  .home-team-section #home-team-carousel .owl-dots .owl-dot {
    margin-top: 40px;
  }
}
.home-team-section #home-team-carousel .owl-dots .owl-dot.active {
  background-color: #ff6c00;
}
.home-team-section #home-team-carousel .owl-dots .owl-dot:hover {
  background-color: #ff6c00;
}

/******************Footer Css*****************/
footer {
  padding: 4% 0;
  background-color: #002957;
}
@media (max-width: 500px) {
  footer {
    padding: 7% 0;
  }
}
footer h3 {
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  font-size: 13px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  display: block;
  color: #fff;
}
footer ul li a:hover {
  color: #ff6c00;
}
footer ul li:nth-last-child(1) {
  margin-bottom: 0;
}
footer p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #002957;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 1366px) {
  footer p {
    font-size: 15px;
  }
}
@media (max-width: 1101px) {
  footer p {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  footer p {
    line-height: 26px;
  }
}

.copyright-strip {
  width: 100%;
  padding: 10px 0;
  background-color: #000;
}
@media (max-width: 500px) {
  .copyright-strip {
    padding: 8px 0;
  }
}
.copyright-strip .copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}
.copyright-strip .copyright a {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .copyright-strip .copyright {
    display: block;
    text-align: center;
  }
}

/******************Social Media Widgets Css*****************/
.social-media-widgets {
  width: 100%;
  margin: 0 auto;
  padding: 4% 0;
}
@media (max-width: 500px) {
  .social-media-widgets {
    padding: 7% 0;
  }
}
.social-media-widgets h1 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: #ff6c00;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
@media (max-width: 1366px) {
  .social-media-widgets h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .social-media-widgets h1 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .social-media-widgets h1 {
    font-size: 26px;
  }
}
.social-media-widgets img {
  width: 100%;
}
.social-media-widgets .main-widgets {
  display: grid;
  grid-auto-rows: 480px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 4em;
}
.social-media-widgets .main-widgets .social-grid {
  background-color: #d8e0eb;
  border-radius: 45px;
  overflow: hidden;
}
@media (max-width: 1536px) {
  .social-media-widgets .main-widgets {
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    grid-gap: 3em;
    width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 1366px) {
  .social-media-widgets .main-widgets {
    grid-auto-rows: 415px;
  }
}
@media (max-width: 1101px) {
  .social-media-widgets .main-widgets {
    grid-auto-rows: 375px;
    grid-template-columns: repeat(auto-fill, minmax(202px, 1fr));
    width: 85%;
    margin: 0 auto;
    grid-gap: 2em;
  }
}
@media (max-width: 768px) {
  .social-media-widgets .main-widgets {
    grid-auto-rows: 300px;
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  }
}
@media (max-width: 500px) {
  .social-media-widgets .main-widgets {
    grid-auto-rows: 400px;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  }
}

/******************Home Player Carousel Css*****************/
.home-player-section {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 4% 0;
  background-color: #d8e0eb;
}
.home-player-section:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: url("../img/background-patches/patch1.png");
  width: 15%;
  height: 45%;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-player-section:after {
  position: absolute;
  content: "";
  right: 0;
  top: -15px;
  background: url("../img/background-patches/patch1.png");
  width: 15%;
  height: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}
@media (max-width: 500px) {
  .home-player-section {
    padding: 7% 0;
  }
}
.home-player-section h1 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: #ff6c00;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
@media (max-width: 1366px) {
  .home-player-section h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .home-player-section h1 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .home-player-section h1 {
    font-size: 26px;
  }
}
.home-player-section #home-player-carousel .item {
  background-color: #002957;
  transition: all 0.5s;
  position: relative;
  cursor: pointer;
}
.home-player-section #home-player-carousel .item:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}
.home-player-section #home-player-carousel .item:hover {
  background-color: #0c4c93;
  transition: all 0.5s;
}
.home-player-section #home-player-carousel .item .img-div {
  background-color: #fff;
  width: 100%;
  height: 240px;
  border-bottom-left-radius: 135px;
  border-bottom-right-radius: 135px;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}
.home-player-section #home-player-carousel .item .img-div img {
  width: 70%;
  position: relative;
  top: 0px;
  left: 14%;
  transition: all 0.5s;
}
.home-player-section #home-player-carousel .item h4 {
  color: #ff6c00;
  font-size: 28px;
  text-align: center;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  margin-bottom: 12px;
}
@media (max-width: 1366px) {
  .home-player-section #home-player-carousel .item h4 {
    font-size: 24px;
  }
}
.home-player-section #home-player-carousel .item button {
  background-color: #d8e0eb;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 4px 10px;
  font-weight: 700;
  border-radius: 3px;
  transition: all 0.5s;
}
.home-player-section #home-player-carousel .item button:hover {
  background-color: #fff;
  transition: all 0.5s;
}
.home-player-section #home-player-carousel .item button a {
  color: #002957;
}
@media (max-width: 1366px) {
  .home-player-section #home-player-carousel .item button {
    font-size: 13px;
    padding: 4px 7px;
  }
}
.home-player-section #home-player-carousel .item .item-details {
  padding: 15px 10px 22px 10px;
}
.home-player-section #home-player-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}
.home-player-section #home-player-carousel .owl-nav .owl-prev {
  left: -85px;
  bottom: -10px;
  background: url("../svg/arrow-right-s-line-orange.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  color: transparent;
  background-size: cover;
}
@media (max-width: 1366px) {
  .home-player-section #home-player-carousel .owl-nav .owl-prev {
    left: -50px;
  }
}
@media (max-width: 1024px) {
  .home-player-section #home-player-carousel .owl-nav .owl-prev {
    left: 0px;
  }
}
@media (max-width: 991px) {
  .home-player-section #home-player-carousel .owl-nav .owl-prev {
    left: -40px;
  }
}
@media (max-width: 768px) {
  .home-player-section #home-player-carousel .owl-nav .owl-prev {
    left: 0;
  }
}
.home-player-section #home-player-carousel .owl-nav .owl-next {
  right: -85px;
  bottom: -10px;
  background: url("../svg/arrow-right-s-line-orange.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  color: transparent;
  background-size: cover;
  transform: rotate(180deg);
}
@media (max-width: 1366px) {
  .home-player-section #home-player-carousel .owl-nav .owl-next {
    right: -50px;
  }
}
@media (max-width: 1024px) {
  .home-player-section #home-player-carousel .owl-nav .owl-next {
    right: 0px;
  }
}
@media (max-width: 991px) {
  .home-player-section #home-player-carousel .owl-nav .owl-next {
    right: -40px;
  }
}
@media (max-width: 768px) {
  .home-player-section #home-player-carousel .owl-nav .owl-next {
    right: 0;
  }
}

.top-half-circle {
  background-color: lightseagreen;
}

/****************Scroll To Top Button Css*****************/
#top-button {
  display: inline-block;
  background-image: url("../img/ball.png");
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-animation: bounce 0.4s ease infinite alternate;
}
@media (max-width: 1280px) {
  #top-button {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 500px) {
  #top-button {
    width: 35px;
    height: 35px;
  }
}

#top-button.show {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes bounce {
  100% {
    transform: translateY(-20px);
  }
}
.page-breadcrumbs {
  width: 100%;
  margin-bottom: 5%;
  position: relative;
  z-index: 1;
  display: flex;
}
@media (max-width: 1536px) {
  .page-breadcrumbs {
    margin-bottom: 4%;
  }
}
@media (max-width: 460px) {
  .page-breadcrumbs {
    margin-bottom: 10%;
  }
}
.page-breadcrumbs ul {
  margin: 0;
  padding: 0;
}
.page-breadcrumbs ul li {
  float: left;
  padding: 0 10px;
  position: relative;
}
.page-breadcrumbs ul li:nth-child(1):before {
  display: none;
}
.page-breadcrumbs ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: -3px;
  background: url(../img/right_arrow.jpg);
  background-size: 30%;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}
.page-breadcrumbs ul li a {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #000;
  font-weight: 600;
}
@media (max-width: 460px) {
  .page-breadcrumbs ul li a {
    font-size: 13px;
  }
}
.page-breadcrumbs ul li a.active {
  color: #ff6c00;
}

.custom-class {
  padding-top: 10%;
  padding-bottom: 4%;
}
@media (max-width: 1600px) {
  .custom-class {
    padding-top: 12%;
  }
}
@media (max-width: 1280px) {
  .custom-class {
    margin-top: 1%;
  }
}
@media (max-width: 1101px) {
  .custom-class {
    margin-top: 3%;
  }
}
@media (max-width: 768px) {
  .custom-class {
    margin-top: 1%;
  }
}
@media (max-width: 460px) {
  .custom-class {
    margin-top: 10%;
  }
}

.common-bg {
  background-image: url("../img/background-patches/patch3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.coming-soon {
  height: 100vh;
  width: 100%;
}

/****************Contact Us Css*****************/
.contact-us {
  width: 100%;
}
.contact-us h1 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: #ff6c00;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1366px) {
  .contact-us h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .contact-us h1 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .contact-us h1 {
    font-size: 26px;
  }
}
.contact-us #google-map {
  width: 100%;
  height: 100%;
}
.contact-us #google-map iframe {
  border-radius: 30px;
}
.contact-us .right-img img {
  border-radius: 30px;
}
@media (max-width: 500px) {
  .contact-us .right-img {
    display: none;
  }
}
.contact-us .info-main-box {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1101px) {
  .contact-us .info-main-box {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .contact-us .info-main-box {
    width: 100%;
  }
}
.contact-us .info-main-box .info-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5em;
  margin-top: 12%;
  text-align: center;
}
@media (max-width: 1470px) {
  .contact-us .info-main-box .info-grid {
    margin-top: 10%;
  }
}
@media (max-width: 1366px) {
  .contact-us .info-main-box .info-grid {
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  }
}
@media (max-width: 1101px) {
  .contact-us .info-main-box .info-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 3em;
    margin-top: 8%;
  }
}
@media (max-width: 500px) {
  .contact-us .info-main-box .info-grid {
    grid-gap: 1em;
    margin-top: 4%;
  }
}
.contact-us .info-main-box .info-grid .grid-layout {
  text-align: center;
  padding: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media (max-width: 768px) {
  .contact-us .info-main-box .info-grid .grid-layout {
    padding: 15px;
  }
}
.contact-us .info-main-box .info-grid .grid-layout:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 75%;
  background-color: #002957;
  right: -15%;
  top: 12%;
}
@media (max-width: 1366px) {
  .contact-us .info-main-box .info-grid .grid-layout:after {
    height: 65%;
    right: -17%;
    top: 18%;
  }
}
@media (max-width: 1101px) {
  .contact-us .info-main-box .info-grid .grid-layout:after {
    right: -10%;
  }
}
@media (max-width: 768px) {
  .contact-us .info-main-box .info-grid .grid-layout:after {
    right: -12%;
  }
}
@media (max-width: 500px) {
  .contact-us .info-main-box .info-grid .grid-layout:after {
    display: none;
  }
}
.contact-us .info-main-box .info-grid .grid-layout:hover {
  background-color: #002957;
  transition: all 0.5s ease;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 9px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 9px rgba(0, 0, 0, 0);
}
.contact-us .info-main-box .info-grid .grid-layout:hover p a, .contact-us .info-main-box .info-grid .grid-layout:hover p {
  color: #fff;
}
.contact-us .info-main-box .info-grid .grid-layout:hover .svg-div {
  transition: all 0.5s ease;
  background-color: #ff6c00;
}
.contact-us .info-main-box .info-grid .grid-layout:hover .svg-div svg {
  fill: #fff;
  transition: all 0.5s;
}
.contact-us .info-main-box .info-grid .grid-layout:nth-last-child(1):after {
  display: none;
}
.contact-us .info-main-box .info-grid .grid-layout .svg-div {
  width: 85px;
  height: 85px;
  border: 2px solid #002957;
  padding: 20px;
  border-radius: 50px;
  margin: 0 auto;
}
@media (max-width: 1101px) {
  .contact-us .info-main-box .info-grid .grid-layout .svg-div {
    width: 70px;
    height: 70px;
  }
}
.contact-us .info-main-box .info-grid .grid-layout .svg-div svg {
  width: 100%;
  fill: #002957;
  transition: all 0.5s;
}
@media (max-width: 1101px) {
  .contact-us .info-main-box .info-grid .grid-layout .svg-div svg {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .contact-us .info-main-box .info-grid .grid-layout .svg-div svg {
    width: 100%;
  }
}
.contact-us .info-main-box .info-grid .grid-layout p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #002957;
  line-height: 30px;
  font-weight: 500;
  font-weight: 700;
  font-size: 17px;
}
@media (max-width: 1366px) {
  .contact-us .info-main-box .info-grid .grid-layout p {
    font-size: 15px;
  }
}
@media (max-width: 1101px) {
  .contact-us .info-main-box .info-grid .grid-layout p {
    font-size: 14px;
  }
}
@media (max-width: 1101px) {
  .contact-us .info-main-box .info-grid .grid-layout p {
    line-height: 26px;
  }
}
.contact-us .info-main-box .info-grid .grid-layout p a {
  color: #002957;
}

/****************Team Main Css*****************/
.team-main-section {
  width: 100%;
}
.team-main-section .coming-soon-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
.team-main-section .coming-soon-heading h1 {
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  color: #002957;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 991px) {
  .team-main-section .coming-soon-heading h1 {
    font-size: 30px;
  }
}
.team-main-section .teams-main-grid {
  width: 100%;
  display: inline-block;
}
.team-main-section .teams-main-grid .all-teams-grid {
  width: 26%;
  background: hsl(216, 86%, 28%);
  background: linear-gradient(90deg, hsl(216, 86%, 28%) 0%, hsl(215, 90%, 23%) 75%);
  background: -moz-linear-gradient(90deg, hsl(216, 86%, 28%) 0%, hsl(215, 90%, 23%) 75%);
  background: -webkit-linear-gradient(90deg, hsl(216, 86%, 28%) 0%, hsl(215, 90%, 23%) 75%);
  float: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 768px) {
  .team-main-section .teams-main-grid .all-teams-grid {
    width: 100%;
  }
}
.team-main-section .teams-main-grid .all-teams-grid .heading-div {
  background-color: #ff6c00;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.team-main-section .teams-main-grid .all-teams-grid .heading-div h1 {
  color: #fff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  padding: 12px;
}
@media (max-width: 1101px) {
  .team-main-section .teams-main-grid .all-teams-grid .heading-div h1 {
    font-size: 24px;
    padding: 10px;
  }
}
.team-main-section .teams-main-grid .all-teams-grid ul {
  margin: 0;
  padding: 0;
}
.team-main-section .teams-main-grid .all-teams-grid ul li {
  list-style: none;
  padding: 9px 16px;
  border-bottom: 1px solid #ff6c00;
  transition: all 0.5s;
}
.team-main-section .teams-main-grid .all-teams-grid ul li:nth-last-child(1) {
  border-bottom: none;
}
.team-main-section .teams-main-grid .all-teams-grid ul li:hover {
  background-color: #002957;
  transition: all 0.5s;
  border-bottom: 1px solid #fff;
}
.team-main-section .teams-main-grid .all-teams-grid ul li.active {
  background-color: #002957;
  border-bottom: 1px solid #fff;
}
.team-main-section .teams-main-grid .all-teams-grid ul li a {
  display: flex;
  align-items: center;
}
.team-main-section .teams-main-grid .all-teams-grid ul li a .team-logo-div {
  width: 50px;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  position: relative;
}
.team-main-section .teams-main-grid .all-teams-grid ul li a .team-logo-div img {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.team-main-section .teams-main-grid .all-teams-grid ul li a h1 {
  font-size: 16px;
  color: #fff;
  font-family: "Lato", sans-serif;
  margin-left: 10px;
  font-weight: 500;
}
.team-main-section .teams-main-grid .team-info-wrapper {
  width: 70%;
  float: right;
}
@media (max-width: 768px) {
  .team-main-section .teams-main-grid .team-info-wrapper {
    width: 100%;
    margin-top: 2%;
  }
}
.team-main-section .teams-main-grid .team-info-wrapper .team-info-grid {
  width: 100%;
  border-radius: 10px;
  background: hsl(216, 86%, 28%);
  background: linear-gradient(90deg, hsl(216, 86%, 28%) 0%, hsl(215, 90%, 23%) 75%);
  background: -moz-linear-gradient(90deg, hsl(216, 86%, 28%) 0%, hsl(215, 90%, 23%) 75%);
  background: -webkit-linear-gradient(90deg, hsl(216, 86%, 28%) 0%, hsl(215, 90%, 23%) 75%);
  display: inline-flex;
}
.team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-left {
  width: 28%;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-left .half-circle-div {
  width: 130%;
  height: 130%;
  background-color: #ff6c00;
  border-radius: 50%;
  right: 0;
  position: absolute;
  top: -35px;
}
.team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-left .half-circle-div img {
  width: 45%;
  position: absolute;
  left: 57%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1101px) {
  .team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-left .half-circle-div img {
    width: 45%;
  }
}
@media (max-width: 500px) {
  .team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-left {
    display: none;
  }
}
.team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right {
  width: 70%;
  padding: 17px 0 17px 25px;
}
@media (max-width: 500px) {
  .team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right {
    width: 100%;
    padding: 20px;
  }
}
.team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right .dl-none {
  display: none;
}
@media (max-width: 500px) {
  .team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right .dl-none {
    display: block;
    width: 20%;
  }
}
.team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right:after {
  position: absolute;
  content: url(../img/background-patches/tiger-vector1.png);
  right: -269px;
  top: -35px;
  width: 100%;
  height: 100%;
  transform: scale(0.5);
  opacity: 0.5;
}
@media (max-width: 1280px) {
  .team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right:after {
    right: -230px;
  }
}
@media (max-width: 1101px) {
  .team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right:after {
    right: -185px;
    transform: scale(0.4);
  }
}
@media (max-width: 768px) {
  .team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right:after {
    display: none;
  }
}
.team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right h2 {
  color: #ff6c00;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}
@media (max-width: 1101px) {
  .team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right h2 {
    font-size: 28px;
  }
}
.team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right span {
  font-size: 21px;
  color: #ff6c00;
  font-weight: 600;
  display: block;
  margin-top: -3px;
}
.team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #002957;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
  line-height: 26px;
  font-size: 15px;
}
@media (max-width: 1366px) {
  .team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right p {
    font-size: 15px;
  }
}
@media (max-width: 1101px) {
  .team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right p {
    font-size: 14px;
  }
}
@media (max-width: 1101px) {
  .team-main-section .teams-main-grid .team-info-wrapper .team-info-grid .team-info-grid-right p {
    line-height: 24px;
  }
}
.team-main-section .teams-main-grid .team-info-wrapper .coming-soon-data {
  width: 100%;
  background-color: #d8e0eb;
  padding: 30px;
}
.team-main-section .teams-main-grid .team-info-wrapper .coming-soon-data h1 {
  font-size: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #002957;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
