@import 'reset';
@import 'mixins';
@import 'breakpoints';
@import 'variables';
@import 'navigations';
@import 'home-banner';
@import 'social-media-widgets';
/******************About Us Css*****************/
.custom-container{
    max-width: 1200px;
    margin: 0 auto;
	@include breakpoints(1366px){
		max-width: 1100px;
	}
	@include breakpoints(1101px){
		max-width: 950px;
	}
	@include breakpoints(991px){
		max-width: 900px;
	}
	@include breakpoints(768px){
		max-width: 700px;;
	}
	@include breakpoints(500px){
		max-width: 370px;
	}
	@include breakpoints(380px){
		max-width: 325px;;
	}
}
.about-us-section{
	width: 100%;
	@include common-padding;
	&:before{
		position: absolute;
		content: "";
		left: 0;
		bottom: 0;
		background: url("../img/background-patches/patch1.png");
		width: 15%;
		height: 45%;
		background-repeat: no-repeat;
		background-size: cover;
		@include breakpoints(1024px){
			bottom: -55px;
			z-index: -1;
		}
		@include breakpoints(500px){
			display: none;
			}
	}
	&:after{
		position: absolute;
		content: "";
		right: 0;
		top: -15px;
		background: url("../img/background-patches/patch1.png");
		width: 15%;
		height: 45%;
		background-repeat: no-repeat;
		background-size: cover;
		transform: rotate(180deg);
		@include breakpoints(1024px){
			z-index: -1;
			top: -55px;
		}
		@include breakpoints(500px){
		display: none;
		}
	}

	.about-us-content{
		padding-right: 12%;
		@include breakpoints(500px){
		padding-right: 0;
		}
		h1{
			@include common-heading;
		}
		p{
			@include common-paragraph;
		}
		button{
			@include common-button;
		}
		@include breakpoints(768px){
			padding-right: 0;
		}
	}
}


/******************Governing Council Css*****************/
.governing-council{
	width: 100%;
	@include common-padding;
	background-color: $background-color;
	h1{
		@include common-heading;
	}
	#governing-council-carousel{
		.item{
			background-color: $secondary-color;
			border-radius: 35px;
			cursor: pointer;
			.img-div{
				overflow: hidden;
				border-radius: 30px;
				img{
					display: block;
					width: 100%;
					border-radius: 15px;
					transition: all 0.5s;
				}
			}
			&:hover img{
			transform: scale(1.1);
			transition: all 0.5s;
			}
		}
		.item-details{
			text-align: center;
			padding: 22px;
			@include breakpoints(1600px){
				padding: 15px;
			}
			@include breakpoints(1366px){
				padding: 13px;
			}
			h2{
				color: $primary-color;
				font-size: 20px;
				text-transform: uppercase;
				font-family: $paragraph-font;
				font-weight: 700;
				@include breakpoints(1366px){
					font-size:18px;
				}
			}
			span{
				color:$white;
				font-size: 16px;
				font-weight: 500;
				@include breakpoints(1366px){
					font-size:15px;
				}
			}
		}
		.owl-dots {
			width: 100%;
			display: block;
			text-align: center;
			.owl-dot {
				display: inline-block;
				background: none repeat scroll 0 0 $white;
				border-radius: 20px;
				height: 15px;
				margin: 5px;
				width: 15px;
				margin-top: 55px;
				margin-bottom: 0;
				&.active {
					background-color:$primary-color;
				}
				&:hover {
					background-color:$primary-color;
				}
			}
		}
	}
}

/******************Home Team Section Css*****************/
.home-team-section{
	width: 100%;
	@include common-padding;
	h1{
		@include common-heading;
	}
	#home-team-carousel{
		.team-logo-img{
			&:hover img{
				transform: scale(0.9);
				filter: grayscale(1);
				transition: all 0.5s;
			}
			img{
				width: 50%;
				margin: 0 auto;
				cursor: pointer;
				transition: all 0.5s;
				transform: scale(1);
			}
		}
				.owl-dots {
			width: 100%;
			display: block;
			text-align: center;
			.owl-dot {
				display: inline-block;
				background: none repeat scroll 0 0 $secondary-color;
				border-radius: 20px;
				height: 15px;
				margin: 5px;
				width: 15px;
				margin-top: 55px;
				margin-bottom: 0;
				@include breakpoints(1440px){
					margin-top: 40px;
				}
				&.active {
					background-color:$primary-color;
				}
				&:hover {
					background-color:$primary-color;
				}
			}
		}
	}
}


/******************Footer Css*****************/
footer{
	@include common-padding;
	background-color: $secondary-color;
	h3{
		font-size: 17px;
		text-transform: uppercase;
		color: $white;
		font-family: $paragraph-font;
		font-weight: 700;
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			margin-bottom: 10px;
			a{
				font-size: 13px;
				font-weight: 400;
				font-family: $paragraph-font;
				text-transform: uppercase;
				display: block;
				color: $white;
				&:hover{
					color: $primary-color;
			}
			}
			&:nth-last-child(1){
				margin-bottom: 0;
			}
		}
	}
	p{
		@include common-paragraph;
		color: $white;
		@include breakpoints(500px){
			line-height: 26px;
		}
	}
}
.copyright-strip{
	width: 100%;
	padding: 10px 0;
	background-color: $black;
	@include breakpoints(500px){
		padding: 8px 0;
	}
	.copyright{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $white;
		font-size: 12px;
		font-family: $paragraph-font;
		a{
			color: $white;
			text-decoration: underline;
		}
		@include breakpoints(500px){
			display: block;
			text-align: center;
		}
	}
}

/******************Social Media Widgets Css*****************/
.social-media-widgets{
	width: 100%;
    margin: 0 auto;
	@include common-padding;
	h1{
		@include common-heading;
	}
	img{
		width: 100%;
	}
	.main-widgets{
		display: grid;
		grid-auto-rows: 480px;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		grid-gap: 4em;
		.social-grid{
			background-color: $background-color;
			border-radius: 45px;
			overflow: hidden;
		}
		@include breakpoints(1536px){
			grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
			grid-gap: 3em;
			width: 85%;
			margin: 0 auto;
		}
		@include breakpoints(1366px){
			grid-auto-rows: 415px;
		}
		@include breakpoints(1101px){
			grid-auto-rows: 375px;
			grid-template-columns: repeat(auto-fill, minmax(202px, 1fr));
			width: 85%;
			margin: 0 auto;
			grid-gap: 2em;
		}
		@include breakpoints(768px){
			grid-auto-rows: 300px;
			width: 90%;
			grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
		}
		@include breakpoints(500px){
			grid-auto-rows: 400px;
			grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
		}
	}
}


/******************Home Player Carousel Css*****************/
.home-player-section{
width: 100%;
position: relative;
overflow: hidden;
&:before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	background: url("../img/background-patches/patch1.png");
	width: 15%;
	height: 45%;
	background-repeat: no-repeat;
	background-size: cover
}
&:after{
	position: absolute;
	content: "";
	right: 0;
	top: -15px;
	background: url("../img/background-patches/patch1.png");
	width: 15%;
	height: 45%;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotate(180deg);
}
	@include common-padding;
	background-color: $background-color;
	h1{
		@include common-heading;
	}
	#home-player-carousel{
		.item{
			background-color: $secondary-color;
			transition: all 0.5s;
			position: relative;
			cursor: pointer;
			&:hover img{
				transform: scale(1.1);
				transition: all 0.5s;
			}
			&:hover{
				background-color: $common-color;
				transition: all 0.5s;
			}
			.img-div{
				background-color: #fff;
				width: 100%;
				height: 240px;
				border-bottom-left-radius: 135px;
				border-bottom-right-radius: 135px;
				position: relative;
				overflow: hidden;
				padding-top: 10px;
				img{
					width: 70%;
					position: relative;
					top: 0px;
					left: 14%;
					transition: all 0.5s;
				}
			}
			h4{
				color: $primary-color;
				font-size: 28px;
				text-align: center;
				font-weight: 500;
				font-family: $heading-font;
				margin-bottom: 12px;
				@include breakpoints(1366px){
					font-size:24px;
				}
			}
			button{
				@include view-profile-btn;
			}
			.item-details{
				padding: 15px 10px 22px 10px;
			}
		}
		.owl-nav{
			position: absolute;
			top: 50%;
			width: 100%;
			.owl-prev{
				left: -85px;
				bottom: -10px;
				background: url("../svg/arrow-right-s-line-orange.svg");
				width: 30px;
				height: 30px;
				position: absolute;
				color: transparent;
				background-size: cover;
				@include breakpoints(1366px){
					left: -50px;
				}
				@include breakpoints(1024px){
					left: 0px;
				}
				@include breakpoints(991px){
					left: -40px;
				}
				@include breakpoints(768px){
				left: 0;
				}
			}
			.owl-next{
				right: -85px;
				bottom: -10px;
				background: url("../svg/arrow-right-s-line-orange.svg");
				width: 30px;
				height: 30px;
				position: absolute;
				color: transparent;
				background-size: cover;
				transform: rotate(180deg);
				@include breakpoints(1366px){
					right: -50px;
				}
				@include breakpoints(1024px){
					right: 0px;
				}
				@include breakpoints(991px){
					right: -40px;
				}
				@include breakpoints(768px){
				right: 0;
				}
			}
		}
	}
}
.top-half-circle{
	background-color: lightseagreen;
}


/****************Scroll To Top Button Css*****************/

#top-button {
	display: inline-block;
	background-image: url("../img/ball.png");
	width: 45px;
	height: 45px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	background-repeat: no-repeat;
    background-size: cover;
	cursor: pointer;
	-webkit-animation: bounce .4s ease infinite alternate;
			@include breakpoints(1280px){
			width: 40px;
			height: 40px;
		}
		@include breakpoints(500px){
			width: 35px;
			height: 35px;
		}
}
#top-button.show {
	opacity: 1;
	visibility: visible;
}
@-webkit-keyframes bounce {
	0% {
  
	}
	100% {
	  transform:translateY(-20px);
  
	}
  }

  .page-breadcrumbs{
    width: 100%;
    margin-bottom: 5%;
    position: relative;
    z-index: 1;
    display: flex;
	@include breakpoints(1536px){
		margin-bottom: 4%;
	}
	@include breakpoints(460px){
		margin-bottom: 10%;
	}
    ul{
        margin: 0;
        padding: 0;
        li{
            float: left;
            padding: 0 10px;
            position: relative;
            &:nth-child(1):before{
                display: none;
            }
            &:before{
                content: "";
                display: block;
                position: absolute;
                top: 8px;
                left: -3px;
                background: url(../img/right_arrow.jpg);
                background-size: 30%;
                height: 20px;
                width: 20px;
                background-repeat: no-repeat;
            }
            a{
                font-size: 14px;
                font-family: $paragraph-font;
                color: $black;
                font-weight: 600;
				@include breakpoints(460px){
					font-size: 13px;
				}
            }
            a.active{
                color: $primary-color;
            }
            }
        }
  }
.custom-class{
	@include common-margin-padding;
	@include breakpoints(1600px){
		padding-top: 12%;
	}
	@include breakpoints(1280px){
		margin-top: 1%;
	}
	@include breakpoints(1101px){
		margin-top: 3%;
	}
	@include breakpoints(768px){
		margin-top: 1%;
	}
	@include breakpoints(460px){
		margin-top: 10%;
	}
}
.common-bg{
	background-image: url("../img/background-patches/patch3.png");
	background-repeat: no-repeat;
	background-size: cover;
}
  /****************Contact Us Css*****************/
.contact-us{
	width: 100%;
	h1{
		@include common-heading;
		text-align: center;
	}
	#google-map{
		width: 100%;
		height: 100%;
		iframe{
			border-radius: 30px;
		}
	}
	.right-img{
		img{
			border-radius: 30px;
		}
		@include breakpoints(500px){
			display: none;
		}
		
	}
	.info-main-box{
		width: 80%;
		margin: 0 auto;
		@include breakpoints(1101px){
			width: 90%;
		}
		@include breakpoints(768px){
			width: 100%;
		}
		.info-grid{
			display: grid;
			grid-auto-rows: auto;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			grid-gap: 5em;
			margin-top: 12%;
			text-align: center;
			@include breakpoints(1470px){
				margin-top: 10%;
			}
			@include breakpoints(1366px){
				grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
			}
			@include breakpoints(1101px){
				grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
				grid-gap: 3em;
				margin-top: 8%;
			}
			@include breakpoints(500px){
				grid-gap: 1em;
				margin-top: 4%;
			}
			.grid-layout{
				text-align: center;
				padding: 25px;
				cursor: pointer;
				transition: all 0.5s ease;
				@include breakpoints(768px){
					padding: 15px;
				}
				&:after{
					position: absolute;
					content: "";
					width: 2px;
					height: 75%;
					background-color: $secondary-color;
					right: -15%;
					top: 12%;
					@include breakpoints(1366px){
						height: 65%;
						right: -17%;
						top: 18%;
					}
					@include breakpoints(1101px){
						right: -10%;
					}
					@include breakpoints(768px){
						right:-12%;
					}
					@include breakpoints(500px){
display: none;
					}
				}
				&:hover{
					background-color: $secondary-color;
					transition: all 0.5s ease;
					border-radius: 10px;
					-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 9px rgba(0,0,0,0); 
					box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 9px rgba(0,0,0,0);
				}
				&:hover p a,&:hover p {
					color: $white;
				}
				&:hover .svg-div{
					transition: all 0.5s ease;
					background-color:$primary-color;
				}
				&:hover .svg-div svg{
					fill: $white;
					transition: all 0.5s;
				}
				&:nth-last-child(1):after{
					display: none;
				}
				.svg-div{
					width: 85px;
					height: 85px;
					border: 2px solid $secondary-color;
					padding: 20px;
					border-radius: 50px;
					margin: 0 auto;
					@include breakpoints(1101px){
						width: 70px;
						height: 70px;
					}
					svg{
						width: 100%;
						fill:$secondary-color;
						transition: all 0.5s;
						@include breakpoints(1101px){
							width: 80%;
						}
						@include breakpoints(500px){
							width: 100%;
						}
					}
				}
				p{
					@include common-paragraph;
					font-weight: 700;
					font-size: 17px;
					@include breakpoints(1101px){
						line-height: 26px;
					}
					a{
						color: $secondary-color;
					}
				}
			}
			}
	}
}
  /****************Team Main Css*****************/
.team-main-section{
	width: 100%;
	.teams-main-grid{
		width: 100%;
		display: inline-block;
		.all-teams-grid{
			width: 26%;
			background: hsla(216, 86%, 28%, 1);
			background: linear-gradient(90deg, hsla(216, 86%, 28%, 1) 0%, hsla(215, 90%, 23%, 1) 75%);
			background: -moz-linear-gradient(90deg, hsla(216, 86%, 28%, 1) 0%, hsla(215, 90%, 23%, 1) 75%);
			background: -webkit-linear-gradient(90deg, hsla(216, 86%, 28%, 1) 0%, hsla(215, 90%, 23%, 1) 75%);
			float: left;
			border-top-left-radius:10px;
			border-top-right-radius:10px;
			@include breakpoints(768px){
				width: 100%;
			}
			.heading-div{
				background-color: $primary-color;
				border-top-left-radius:10px;
				border-top-right-radius:10px;
				h1{
					color: $white;
					text-align: center;
					font-family: $heading-font;
					font-size: 26px;
					padding: 12px;
					@include breakpoints(1101px){
					font-size: 24px;
					padding: 10px;
					}
				}
			}
			ul{
				margin: 0;
				padding: 0;
				li{
					list-style: none;
					padding: 9px 16px;
					border-bottom: 1px solid $primary-color;
					transition: all 0.5s;
					&:nth-last-child(1){
						border-bottom: none;
					}
					&:hover{
						background-color: $secondary-color;
						transition: all 0.5s;
						border-bottom: 1px solid $white;
					}
					&.active{
						background-color: $secondary-color;
						border-bottom: 1px solid $white;
					}
					a{
						display: flex;
						align-items: center;
						.team-logo-div{
							width: 50px;
							height: 50px;
							background-color: $white;
							padding: 10px;
							border-radius: 50px;
							position: relative;
							img{
								width: 60%;
								position: absolute;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);
							}
						}
						h1{
							font-size: 16px;
							color: $white;
							font-family: $paragraph-font;
							margin-left: 10px;
							font-weight: 500;
						}
					}
				}
			}	
		}
		.team-info-wrapper{
			width: 70%;	
			float: right;
			@include breakpoints(768px){
				width: 100%;
				margin-top: 2%;
			}
			.team-info-grid{
				width: 100%;
				border-radius: 10px;
				background: hsla(216, 86%, 28%, 1);
				background: linear-gradient(90deg, hsla(216, 86%, 28%, 1) 0%, hsla(215, 90%, 23%, 1) 75%);
				background: -moz-linear-gradient(90deg, hsla(216, 86%, 28%, 1) 0%, hsla(215, 90%, 23%, 1) 75%);
				background: -webkit-linear-gradient(90deg, hsla(216, 86%, 28%, 1) 0%, hsla(215, 90%, 23%, 1) 75%);
				display: inline-flex;
				.team-info-grid-left{
					width: 28%;
					position: relative;
					overflow: hidden;
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
					.half-circle-div{
						width: 130%;
						height: 130%;
						background-color: #ff6c00;
						border-radius: 50%;
						right: 0;
						position: absolute;
						top: -35px;
	
						img{
							width: 42%;
							position: absolute;
							left: 57%;
							top: 50%;
							transform: translate(-50%, -50%);
							@include breakpoints(1101px){
								width: 45%;
								}
						}
					}
					@include breakpoints(500px){
						display: none;
					}
				}
				.team-info-grid-right{
					width: 70%;
					padding: 17px 0 17px 25px;
					@include breakpoints(500px){
						width: 100%;
						padding: 20px;
					}
					.dl-none{
						display: none;
						@include breakpoints(500px){
							display: block;
							width: 20%;
						}
					}
					&:after{
						position: absolute;
						content: url(../img/background-patches/tiger-vector1.png);
						right: -269px;
						top: -35px;
						width: 100%;
						height: 100%;
						transform: scale(0.5);
						opacity: 0.5;
						@include breakpoints(1280px){
							right:-230px
						}
						@include breakpoints(1101px){
							right:-185px;
							transform: scale(0.4);
						}
						@include breakpoints(768px){
							display: none;
						}
					}
					h2{
						color: $primary-color;
						font-size: 30px;
						font-family: $heading-font;
						@include breakpoints(1101px){
							font-size: 28px;
							}
					}
					span{
						font-size: 21px;
						color:$primary-color;
						font-weight: 600;
						display: block;
						margin-top: -3px
					}
					p{
						@include common-paragraph;
						color: $white;
						line-height: 26px;
						font-size: 15px;
						@include breakpoints(1101px){
							line-height: 24px;
							}
					}
				}
			}
			.coming-soon-data{
				width: 100%;
				background-color: $background-color;
				padding: 30px;
				h1{
					font-size: 20px;
					text-align: center;
					font-family: $paragraph-font;
					color: $secondary-color;
					font-weight: 600;
				}
			}
		}
	}
}
